*.ipynb_checkpoints
Untitled.ipynb
*/data/*
traincurves.pdf
*/__pycache__
*.npy
*.png
*.pdf
exercise3_R_NR/tensorboard/
exercise3_R_NR/results/
*/data*
exercise3_R_NR/data_big/
*/models*
*/tensorboard
*/dqn/__pycache__
*/results
*/old_models/
*random_search_cartpole.py

### excluding
!LabReport2.pdf
!DLLab_Report3.pdf
